:root {
  --primary-text-color: #6a6666;
  --title-text-color: #ea0c0c;
  --accent-color: #f3a621;
  // --bg-footer-color: #2f303a;
  --primaci-bg-color: #ffffff;
  // --secondary-text-color: (255, 255, 255, 0.6);
  --bgc-btn: #f5f4fa;
  // --border-color: #eeeeee;
  // --line-color: #ececec;
  // --cursor-color: #000000;
  --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

