:root {
  --primary-text-color: #6a6666;
  --title-text-color: #ea0c0c;
  --accent-color: #f3a621;
  --primaci-bg-color: #ffffff;
  --bgc-btn: #f5f4fa;
  --transition-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

